<!DOCTYPE html>
<html>
  <head>
    <title>Final Project</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  </head>
  <body>
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
      <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="#home" class="w3-bar-item w3-button">Baymax</a>
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
          <a href="#projects" class="w3-bar-item w3-button">Diseases</a>
          <a href="#about" class="w3-bar-item w3-button">About</a>
          <a href="#contact" class="w3-bar-item w3-button">Members</a>
        </div>
      </div>
    </div>

    <!-- Header -->
    <header
      class="w3-display-container w3-content w3-wide"
      style="max-width: 1500px"
      id="home"
    >
      <img
        class="w3-image"
        src="../static/icons/background-image.png"
        alt="Architecture"
        width="1500"
        height="800"
      />
      
      <div class="w3-display-left w3-padding  w3-opacity-min w3-margin-top">
        <div class="w3-padding-large w3-black w3-border w3-margin-top">
          <h1 class="w3-jumbo w3-text-white w3-hide-small"><b>BAYMAX</b></h1>
          <h1 class="w3-text-white">Your Personal Healthcare Companion</h1>
        </div>
      </div>
    </header>

    <!-- Page content -->
    <div class="w3-content w3-padding" style="max-width: 1564px">
      <!-- Project Section -->
      <div class="w3-container w3-padding-32" id="projects">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">
          Diseases
        </h3>
      </div>

      <div class="w3-row-padding">
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-display-container">
            <div class="w3-display-topleft w3-black w3-padding">
              Alzheimer's detection
            </div>
            <a href="/alzheimer"><img src="../static/icons/Alzheimers.jpeg" alt="House" style="width: 100%" /></a>
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-display-container">
            <div class="w3-display-topleft w3-black w3-padding">
              Brain Tumor detection
            </div>
            <a href="/braintumor"><img src="../static/icons/Brain_tumor.jpeg" alt="House" style="width: 100%" /></a>
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-display-container">
            <div class="w3-display-topleft w3-black w3-padding">
              Breast Cancer detection
            </div>
            <a href="/breastcancer"><img src="../static/icons/Breast_cancer.jpeg" alt="House" style="width: 100%" /></a>
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-display-container">
            <div class="w3-display-topleft w3-black w3-padding">
              Covid detection
            </div>
            <a href="/covid"><img src="../static/icons/Covid.jpeg" alt="House" style="width: 100%" /></a>
          </div>
        </div>
      </div>

      <div class="w3-row-padding">
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-display-container">
            <div class="w3-display-topleft w3-black w3-padding">
              Diabetes detection
            </div>
            <a href="/diabetes"><img src="../static/icons/Diabetes.jpeg" alt="House" style="width: 99%" /></a>
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-display-container">
            <div class="w3-display-topleft w3-black w3-padding">
              Heart Disease detection
            </div>
            <a href="/heartdisease"><img src="../static/icons/Heart_attack.jpg" alt="House" style="width: 99%" /></a>
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-display-container">
            <div class="w3-display-topleft w3-black w3-padding">
              Pneumonia detection
            </div>
            <a href="/pneumonia"><img src="../static/icons/Pneumonia.jpg" alt="House" style="width: 99%" /></a>
          </div>
        </div>
        

      <!-- About Section -->
      <div class="w3-container w3-padding-32" id="about">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">
          About
        </h3>
        <p>
          Baymax - Your Personal Healthcare Companion is a state-of-the-art AI-driven medical platform designed to revolutionize healthcare by addressing 
          the urgent need for comprehensive disease detection. Focusing on seven major illnesses, including Covid-19, Brain Tumor, and Breast Cancer, Baymax 
          utilizes advanced machine learning models to achieve accurate diagnostics. The primary goal is to provide immediate, home-based test results 
          through a user-friendly interface, fostering a proactive approach to healthcare in our rapidly evolving world. Baymax aims to be a trusted companion, 
          bridging the gap between AI advancements and medical practice, thereby transforming diagnostics and contributing to the evolution of modern healthcare.
        </p>
      </div>

      
      <!-- Contact Section -->
      <div class="w3-container w3-padding-32" id="contact">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">
          Members
        </h3>
        <div class="w3-row-padding w3-center">
          <div class="w3-col l3 m6 w3-margin-bottom">
            <img src="../static/icons/Ajay.png" alt="John" style="width: 100%" />
            <h3>Ajay G Nair</h3>
            <p class="w3-opacity">AM.EN.U4AIE20108</p>
          </div>
         
          <div class="w3-col l3 m6 w3-margin-bottom">
            <img src="../static/icons/Govind.png" alt="Mike" style="width: 100%" />
            <h3>Govind Nandakumar</h3>
            <p class="w3-opacity">AM.EN.U4AIE20129</p>
          </div>
          <div class="w3-col l3 m6 w3-margin-bottom">
            <img src="../static/icons/Vivin.png" alt="Dan" style="width: 100%" />
            <h3>Vivin</h3>
            <p class="w3-opacity">AM.EN.U4AIE20173</p>
          </div>
        </div>
  
      </div>

      <!-- End page content -->
    </div>

    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-16">
      <p>
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> | All rights reserved to Group 23
      </p>
    </footer>
  </body>
</html>
